.main-grid {
	width	: 99vw;
	display	: grid;
	grid-template-areas: 
		'header header header'
		'navi content aside'
		'footer footer footer';
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap	: 5px;
}

.main-grid>* {
	border : solid 1px #000;
}

nope-header {
	height		: 10vh;
	grid-area	: header;
}

nope-nav {
	grid-area	: navi;
}

nope-main {
	grid-area	: content;
}

nope-aside {
	grid-area	: aside;
}

nope-footer {
	height		: 10vh;
	grid-area	: footer;
}

.main-middle {
	height		: 75vh;
}